
<h3>Rubik Solver</h3>
<!-- <div  style="cursor: pointer" (click)="changeColor()" class="sample">{{sideRotation}}</div> -->
<button class="rotate" (click)="rotate()">Rotate</button>
<div>Side {{faceno}}</div>

<div id="cubeFields">
    <div [ngSwitch]="faceno">

    <div *ngSwitchCase="1">
    <div class="field1 color1 block"><span>1</span></div>
    <div class="field2 color1 block"><span>2</span></div>
    <div class="field3 color1 block"><span>3</span></div>
    <div class="field4 color1 block"><span>4</span></div>
    <div class="field5 color1 block"><span>5</span></div>
    <div class="field6 color1 block"><span>6</span></div>
    <div class="field7 color1 block"><span>7</span></div>
    <div class="field8 color1 block"><span>8</span></div>
    <div class="field9 color1 block"><span>9</span></div>
    </div>

    <div *ngSwitchCase="2">
    <div class="field1 color2 block"><span>1</span></div>
    <div class="field2 color2 block"><span>2</span></div>
    <div class="field3 color2 block"><span>3</span></div>
    <div class="field4 color2 block"><span>4</span></div>
    <div class="field5 color2 block"><span>5</span></div>
    <div class="field6 color2 block"><span>6</span></div>
    <div class="field7 color2 block"><span>7</span></div>
    <div class="field8 color2 block"><span>8</span></div>
    <div class="field9 color2 block"><span>9</span></div>
    </div>

    <div *ngSwitchCase="3">
    <div class="field1 color3 block"><span>1</span></div>
    <div class="field2 color3 block"><span>2</span></div>
    <div class="field3 color3 block"><span>3</span></div>
    <div class="field4 color3 block"><span>4</span></div>
    <div class="field5 color3 block"><span>5</span></div>
    <div class="field6 color3 block"><span>6</span></div>
    <div class="field7 color3 block"><span>7</span></div>
    <div class="field8 color3 block"><span>8</span></div>
    <div class="field9 color3 block"><span>9</span></div>
    </div>

    <div *ngSwitchCase="4">
    <div class="field1 color4 block"><span>1</span></div>
    <div class="field2 color4 block"><span>2</span></div>
    <div class="field3 color4 block"><span>3</span></div>
    <div class="field4 color4 block"><span>4</span></div>
    <div class="field5 color4 block"><span>5</span></div>
    <div class="field6 color4 block"><span>6</span></div>
    <div class="field7 color4 block"><span>7</span></div>
    <div class="field8 color4 block"><span>8</span></div>
    <div class="field9 color4 block"><span>9</span></div>
    </div>

    <div *ngSwitchCase="5">
    <div class="field1 color5 block"><span>1</span></div>
    <div class="field2 color5 block"><span>2</span></div>
    <div class="field3 color5 block"><span>3</span></div>
    <div class="field4 color5 block"><span>4</span></div>
    <div class="field5 color5 block"><span>5</span></div>
    <div class="field6 color5 block"><span>6</span></div>
    <div class="field7 color5 block"><span>7</span></div>
    <div class="field8 color5 block"><span>8</span></div>
    <div class="field9 color5 block"><span>9</span></div>
    </div>

    <div *ngSwitchCase="6">
    <div class="field1 color6 block"><span>1</span></div>
    <div class="field2 color6 block"><span>2</span></div>
    <div class="field3 color6 block"><span>3</span></div>
    <div class="field4 color6 block"><span>4</span></div>
    <div class="field5 color6 block"><span>5</span></div>
    <div class="field6 color6 block"><span>6</span></div>
    <div class="field7 color6 block"><span>7</span></div>
    <div class="field8 color6 block"><span>8</span></div>
    <div class="field9 color6 block"><span>9</span></div>
    </div>

    </div>
</div>



<div id="controls">
<button class="leftButton" (click)="left()" [disabled]="leftRightDisabled">Left</button>
<button class="rightButton" (click)="right()" [disabled]="leftRightDisabled">Right</button>
<button class="topButton" (click)="top()" [disabled]="!(faceno==1 || faceno==6)">Top</button>
<button class="bottomButton" (click)="bottom()" [disabled]="!(faceno==1 || faceno==5)">Bottom</button>
<button class="sidesButton" (click)="sides()" [disabled]="!leftRightDisabled">Sides</button>
</div>

<div id="colors">
    <!-- <form name="myForm" ng-controller="ExampleController"> -->
    <label>
            <input type="radio" value="white" name="color" (change)="onColorChange('white')">
            White
            <div class="sample1 color1 colorSample"></div>
    </label>
    <br/>
    <label>
            <input type="radio" value="orange" name="color" (change)="onColorChange('orange')">
            Orange
            <div class="sample2 color2 colorSample"></div>
    </label>
    <br/>
    <label>
            <input type="radio" value="green" name="color" (change)="onColorChange('green')">
            Green
            <div class="sample3 color3 colorSample"></div>
    </label>
    <br/>
    <label>
            <input type="radio" value="red" name="color"  (change)="onColorChange('red')">
            Red
            <div class="sample4 color4 colorSample"></div>
    </label>
    <br/>
    <label>
            <input type="radio" value="blue" name="color" (change)="onColorChange('blue')">
            Blue
            <div class="sample5 color5 colorSample"></div>
    </label>
    <br/>
    <label>
            <input type="radio" value="yellow" name="color" (change)="onColorChange('yellow')">
            Yellow
            <div class="sample6 color6 colorSample"></div>
    </label>
    <br/>
    <p style="background-color: {{selectedColor}}">color = {{selectedColor}}</p>
<!-- </form> -->
</div>
<div id="cubeFields">
<div class="fieldtemp block" [ngClass]="colorClass" (click)="changeColor()"><span>1</span></div>
</div>
<router-outlet></router-outlet>